Flora/bin/Debug/net9.0/Flora.dll
Flora/bin/Debug/net9.0/Flora.exe
Flora/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
Flora/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
Flora/bin/Debug/net9.0/Microsoft.OpenApi.dll
Flora/obj/Debug/net9.0/Flora.AssemblyInfo.cs
Flora/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Flora/obj/Debug/net9.0/Flora.AssemblyInfo.cs
Flora/obj/Debug/net9.0/Flora.AssemblyInfoInputs.cache
